<form action="" method="post">
    <div>name = <input type="text" name="name" value="<%= book.name %>"> </div>
    <div>price = <input type="text" name="price" value="<%= book.price %>"> </div>
    <button>save</button>
    <input type="hidden" value="<%= book.id %>">
</form>